.vagrant
Berksfile.lock
Gemfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks
/.kitchen/default-ubuntu-1204.yml
/.kitchen/kitchen-vagrant/default-ubuntu-1204/Vagrantfile
/.kitchen/artifactory-ubuntu-1204.yml
/.kitchen/kitchen-vagrant/artifactory-ubuntu-1204/Vagrantfile
